In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame(
    {'Demand': [40, 50, 46, 42, 60, 64, 60, 56, 34, 49],
     'Price': [500, 350, 400, 450, 230, 200, 250,310,390, 420 ]

    }
)

In [3]:
data

   Demand  Price
0      40    500
1      50    350
2      46    400
3      42    450
4      60    230
5      64    200
6      60    250
7      56    310
8      34    390
9      49    420

In [7]:
data["% Change in Demand"] = data['Demand'].pct_change()
data["% Change in Price"] = data['Price'].pct_change()

In [8]:
data

   Demand  Price  % Change in Demand  % Change in Price
0      40    500                 NaN                NaN
1      50    350            0.250000          -0.300000
2      46    400           -0.080000           0.142857
3      42    450           -0.086957           0.125000
4      60    230            0.428571          -0.488889
5      64    200            0.066667          -0.130435
6      60    250           -0.062500           0.250000
7      56    310           -0.066667           0.240000
8      34    390           -0.392857           0.258065
9      49    420            0.441176           0.076923

In [9]:
data['Price Elasticity'] = data["% Change in Demand"] / data["% Change in Price"]

In [10]:
data

   Demand  Price  % Change in Demand  % Change in Price  Price Elasticity
0      40    500                 NaN                NaN               NaN
1      50    350            0.250000          -0.300000         -0.833333
2      46    400           -0.080000           0.142857         -0.560000
3      42    450           -0.086957           0.125000         -0.695652
4      60    230            0.428571          -0.488889         -0.876623
5      64    200            0.066667          -0.130435         -0.511111
6      60    250           -0.062500           0.250000         -0.250000
7      56    310           -0.066667           0.240000         -0.277778
8      34    390           -0.392857           0.258065         -1.522321
9      49    420            0.441176           0.076923          5.735294